<div class="contentHome">
  <p class="innerTextfull">Hi, I am a creative individual and a UI developer having more than 12 years of experience
    in developing amazing UI applications. I did masters in Computing (Fulltime - In campus) from 'The Robert Gordon
    University', United Kingdom, specializing in Human Interface Design & Development where my passion towards UI design
    and development kicked off. As a hobby, I am in to paiting, animation, learning 3d ,sculpting tools like 3ds max &
    Blender which helped me professionally as well.</p>



  <p class="innerTextfull">From last four years I was working full time as a UI Developer/Architect in Cisco Bangalore
    through UST Global. Now I am looking for part-time/full-time assignments. You can download <a href="assets/CV_mahesh_feb_2019.pdf" download>my resume.</a> Or <a routerLink="/contact-me">contact me</a>
    if you are interested to know more.</p>


  <div style="margin-left: 20px;">
    <button class="actionButton" routerLink="/home">Go Back to Home Page</button>
    <button class="actionButton" routerLink="/contact-me">Contact Me</button>
    <button class="actionButton"><a style="text-decoration: none; color: black" href="assets/CV_mahesh_feb_2019.pdf" download>Download my Resume</a></button>
  </div>


  <p class="innerTextfull">Few of my old Works before starting my full time employment with Cisco,</p>

  <div class="workFlyer">
    <img class="workImage" src="assets/archvis.jpg" />
    <img class="workImage" src="assets/AVM1.jpg" />
    <p>Architectural Visualization and Web development at AVM Stonecrafts - 2014</p>
  </div>

  <div class="workFlyer">
    <img class="workImage" src="assets/mock06.jpg" />
    <p>GenAlpha Dashboard - Designed and Developed using Adobe Flex - 2014</p>
  </div>

  <div class="workFlyer">
    <img class="workImage" src="assets/kiltech05_03.png" />
    <img class="workImage" src="assets/kiltech08.png" />
    <p>Designed & Developed a Dashboard for Kiltech- Designed and Developed using Adobe Flex - 2011</p>
  </div>

  <div class="workFlyer">
    <img class="workImage" src="assets/CISCO_AHU.jpg" />
    <p>Designed & Developed a Facility Dashboard for Cisco- Designed and Developed using Adobe Flex - 2011</p>
  </div>
  <br/>
  <p>Few projects are included due to possible copyright issues. please <a routerLink="/contact-me">contact me</a> if additional information is required.</p>

</div>