<img class="portraitImage" src="assets/mahesh.png" />
<div class="contentHome">
  <p class="innerTextfull">
    Email: hid.mahesh@gmail.com <br />
    Mobile: (91) - 9535253329 , (91) - 7022407280 <br />
    Facebook: <a href="https://www.facebook.com/maheshchandra.hegde">Maheshchandra Hegde</a> <br />
    LinkedIn: <a href="https://www.linkedin.com/in/maheshchandrahegde/">Maheshchandra Hegde</a> <br />
  </p>
  <div style="margin-left: 20px;">
    <button class="actionButton" routerLink="/home">Go Back to Home Page</button>
    <button class="actionButton" routerLink="/about-me">About Me</button>

  </div>
</div>