<img class="portraitImage" src="assets/mahesh.png" />

<!--<button routerLink="/about-me">About Me</button>
<button routerLink="/contact-me">Contact Me</button>-->

<div class="contentHome">
  <p class="innerText">I will help you in creating amazing UI for your web and mobile applications.
    Skilled in Angular, AngularJS , HTML, CSS, Javascript and Interactive 3d.</p>

  <div>
    <div class="buttonHolder"><button class="actionButton" routerLink="/about-me">Would like to Know More</button></div>
    <div class="buttonHolder"><button class="actionButton" routerLink="/contact-me">Contact Me</button></div>
  </div> 

  
</div>